.container {
  height: 100px;
  padding: 0px 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.logo:hover {
  color: orangered;
}

.cart {
  position: relative;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
